.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
}

@media (max-width: 768px) {
  .tilted-card-figure {
    perspective: none;
  }
  .tilted-card-inner {
    transform-style: flat !important;
  }
}
